<!-- <p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Blog entry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <div class="card" style="width: 18rem;">
      <tr>
        <td class="card-title"> <%= post.title %></td>
        <td><%= post.author %></td>
        <td class="card-text"><%= post.blog_entry %></td>
        <td><%= link_to 'Show', post,  class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
      </tr>
    </div>
    <% end %>
  </tbody>
</table>

<br> -->

<% @posts.each do |post| %>
  <div class="card col-sm-11">
    <div class="card-title">
      <h3><%= post.title %></h3>
    </div>
    <div class="card-body">
      <h4 class="card-subtitle"><%= link_to post.user.username, user_posts_path(name: post.user.username) %></h4>
      <p class="card-text" style="height: 200px; overflow: scroll;"><%= post.blog_entry %></p>
    </div>
    <div class="card-footer">
        <button type="button" class="post_btns"><%= link_to 'Show', post,  class: "btn btn-default" %></button>
        <button type="button" class="post_btns"><%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %></button>
        <button type="button" class="post_btns"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></button>
    </div>
  </div>

<% end %>


<div class="container pagination justify-content-center" >
  <%= paginate @posts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>



<%= link_to 'New Post', new_post_path %>
