<!DOCTYPE html>
<html>
  <head>
    <title>TechTalentBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
        <nav class="navbar navbar-default">
          <ul class="nav navbar-nav">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
            <li><a>Link 3</a></li>
          </ul>
          <form class="form-inline my-2 my-lg-0 navbar-right navbar-form">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
    </div>
    <div class="jumbotron">
      <h1 class="text-center">Blog Template</h1>
    </div>
    <div class="jumbotron">
      <%= image_tag 'blog.jpg', :class => "jumbo_img" %>
    </div>
    <!--<ul class="nav nav-tabs nav-justified">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Menu 1</a></li>
      <li><a href="#">Menu 2</a></li>
      <li><a href="#">Menu 3</a></li>
    </ul> -->
    <div class="pull-right">
      <% if user_signed_in? %>
      <%= image_tag current_user.avatar.url, :class => "profile_img" %>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %> 
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
      <br >
    </div>
  </body>
</html>
